{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('index') }}" class="btn btn-primary mt-3 animate__animated animate__fadeIn">Go Back</a>

<h1 class="my-4 animate__animated animate__fadeIn">{% block title %}FlaskShortener Statistics{% endblock %}</h1>

<div class="card mb-4 animate__animated animate__fadeIn">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Short</th>
                    <th scope="col">Original</th>
                    <th scope="col">Clicks</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr class="animate__animated animate__fadeInUp">
                    <th scope="row">{{ url['id'] }}</th>
                    <td>
                        <a href="{{ url['short_url'] }}">{{ url['short_url'][:15] }}{% if url['short_url']|length > 15
                            %}...{% endif %}</a>
                    </td>
                    <td>
                        <a href="{{ url['original_url'] }}">{{ url['original_url'][:15] }}{% if
                            url['original_url']|length > 15 %}...{% endif %}</a>
                    </td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['created'] }}</td>
                    <td>
                        <img src="https://team13.s3.eu-north-1.amazonaws.com/{{ url['short_url'].split('/')[-1] }}.png"
                            alt="Image" width="128" height="128"
                            onclick="enlargeImage('{{url['short_url'].split('/')[-1] }}.png')">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-4 animate__animated animate__fadeIn">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="animate__animated animate__fadeIn">Number of Clicks per URL</h5>
                <div class="chart-container">
                    {{ graph1 | safe }}
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="animate__animated animate__fadeIn">Distribution of Clicks among URLs</h5>
                <div class="chart-container">
                    {{ graph2 | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4 animate__animated animate__fadeIn">
    <div class="card-body">
        <h5 class="animate__animated animate__fadeIn">Additional Statistics</h5>
        <ul>
            <li class="animate__animated animate__fadeIn">Total URLs: {{ urls|length }}</li>
            <li class="animate__animated animate__fadeIn">Total Clicks: {{ total_clicks }}</li>
            <li class="animate__animated animate__fadeIn">Average Clicks per URL: {% if urls|length > 0 %}{{
                total_clicks // urls|length }}{% else %}0{% endif %}</li>
        </ul>
    </div>
</div>

<!-- Modal for Image Enlargement -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-image">
        <div class="modal-content">
            <div class="modal-body">
                <img id="enlargedImg" src="" alt="Enlarged Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- CSS Styles -->
<style>
    .modal-dialog-image {
        width: auto;
        margin: 0 auto;
    }

    .modal-content {
        background: transparent;
        border: none;
    }

    .modal-body {
        padding: 0;
    }
</style>

<script>
    function enlargeImage(imageUrl) {
        var enlargedImg = document.getElementById("enlargedImg");
        enlargedImg.src = "https://team13.s3.eu-north-1.amazonaws.com/" + imageUrl;
        $('#imageModal').modal('show');
    }
</script>

{% endblock %}